/*Globais*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#topo, #sobre{
    scroll-margin-top: 240px; 
}
#portfolio{
    scroll-margin-top: -150px;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin-top: 10px;
    background-color: rgb(0, 0, 0)
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9f3;
    background-image: url(fundo.png);
}

header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
}

header h2{
    font-size: 24px;
}

header h1{
    cursor: default;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    padding: 0px;
    font-size: 20px;
    transition: 1s;
}

nav ul li:hover{
    transform: scale(1.05);
    color: white;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 20px;
}

.resumo, .detalhes {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(192, 192, 192)
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: #bdbdbd;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p{
    color: #000000;
}

.green-text{
    color: #2ee916;
}
